<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/book_list.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>IIITL Library</title>
  </head>
  <body>
    <div class="main_header"><img src="{% static "images/logo.png" %}" alt="Logo IIIT Lucknow" class="main_logo"/><div class="main_title">Central Library, Indian Institute of Information Technology, Lucknow<br>केंद्रीय पुस्तकालय, भारतीय सूचना प्रौद्योगिकी संस्थान, लखनऊ</div></div>
    <!-- <div class="main_title_lib">CENTRAL LIBRARY<br>केंद्रीय पुस्तकालय</div> -->
    <div class="navigation" style="background-color: #e3f2fd;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_login' %}">Student Home({{user.first_name}})</a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resources</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item right">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://iiitl.ac.in/">IIITL Home</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout({{user.first_name}})</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
        <div class="search_box">
          <form class="my-2 my-lg-0" action="{% url 'search_b' %}" method="GET">
              <div style="display: flex;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="search-by" id="inlineRadio1" value="title" checked>
                <label class="form-check-label" for="inlineRadio1">Title</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="search-by" id="inlineRadio2" value="author">
                <label class="form-check-label" for="inlineRadio2">Author</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="search-by" id="inlineRadio3" value="isbn">
                <label class="form-check-label" for="inlineRadio3">ISBN</label>
              </div>
            </form>
        </div>
    <div class="jumbotron">
        <div class="book_list_header">Book List</div>

        <!-- {% if book_info %}
        {% for b in book_info %}
        <div>{{b.book_no}}</div>
        {% endfor %}
        {% endif%} -->
    
        {% if book_list %}
        <table>
            <tr>
                <th>Book Number</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Shelf Number</th>
                <th>Availability</th>
            </tr>
            {% for book in book_list %}
              <form action="{% url 'book_detail' %}" method="GET">
                <tr>
                  <td>{{ book.1.book_no }}</td>
                  <td><input type="hidden" name='isbn_no' value={{ book.0.isbn }}>{{ book.0.isbn }}</td>
                  <td><button style="border: hidden; color: blue;" type="submit">{{ book.0.title }}</button></td>
                  <td>{{ book.0.author }}</td>
                  <td>{{ book.1.shelf_no }}</td>
                  <td>{{ book.1.get_availability_display }}</td>
                </tr>
              </form>
            
            {% endfor %}
        </table>
        {% else %}
        <div>There are no books related to given search.</div>
        {% endif %}
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>